/* App.css */
.App {
  width: 100%;
  min-height: 100vh;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-image: url('./assets/bckgnd.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(250, 250, 214);
  background-blend-mode: darken;
}

.App.dark {
  background-color: black;
  color: white;
  background-blend-mode: normal;
  background-image: url('./assets/bckgndarkmode.png');
}

header {
  text-align: center;
  object-fit: cover;
  position: relative;
  margin-bottom: 30px;
}

header img {
  width: 100%;
  max-width: 1000px;
  height: 1%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Card.css */

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 25px;
}


.card {
  width: 800px;
  height: 250px;
  margin: 40px auto;
  padding: 20px;

  background-color: inherit;
  border: 3px solid #333;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 25px;
  font-weight: bold;

  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  cursor: pointer;
}

h2 {
  font-size: 35px;
}

.card h3 {
  margin-top: 0;
}

.pre-btn, 
.next-btn {
  margin-top: 15px;
  padding: 8px 16px;
  border: none;
  border-radius: 100px;
  border: 2px solid #222;
  cursor: pointer;
  background: inherit;
  color: inherit;
  transition: 0.3s ease;
  margin-right:10px;
  margin-left: 10px;
}

.App.dark .pre-btn,
.App.dark .next-btn,
.App.dark .dark-mode-btn {
  background-color: #333;
  color: #fff;
  border-color: #fff;
}

.dark-mode-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.App.dark header h1,
.App.dark header h2 {
  color: white;
}

.next-btn:hover {
  opacity: 0.8;
}
.pre-btn:hover {
  opacity: 0.8;
}

.card img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 0 auto;
}

.card.Easy {
  background-color: #d4edda;
  border-color: #28a745;
}
.App.dark .card.Easy {
  background-color: #2e7d32;
  color: #fff;
}

.card.Medium {
  background-color: #fff3cd;
  border-color: #ffc107;
}

.App.dark .card.Medium {
  background-color: #f9a825;
  color: #000;
}

.card.Hard {
  background-color: #f8d7da;
  border-color: #dc3545;
}

.App.dark .card.Hard {
  background-color: #c62828;
  color: #fff;
}

.footer {
  margin-top: 50px;
  text-align: center;
  padding: 10px;
}

.dark-mode-btn {
  padding: 6px 12px;
  border-radius: 8px;
  border: 2px solid #222;
  cursor: pointer;
  margin-top: 10px;
  background: inherit;
  color: inherit;
  transition: 0.3s ease;
}

.dark-mode-btn:hover {
  opacity: 0.8;
}
